{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="/inicio">Inicio</a></li>
    <li><a href="">Estudiantes</a>
    <li class="active">Editar</li>
{% endblock %}

{% block titulo_pagina %}
    Gestionar Estudiante
{% endblock %}


{% block titulo %}
    <h2>Editar estudiante</h2>
{% endblock %}

{% block contenido %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Editar Estudiante</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <!-- Se añade el multipart para encriptar los archivos -->
                <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data" id="estudiante-form">{% csrf_token %}
                    <div >
                        <div >
                            {% bootstrap_field form.nombre layout="horizontal" %}
                        </div>
                        <div >
                            {% bootstrap_field form.apellidos layout="horizontal" %}
                        </div>
                        <div >
                            {% bootstrap_field form.fecha_nacimiento layout="horizontal" %}
                        </div>
                        <div >
                            {% bootstrap_field form.tipo_documento layout="horizontal" %}
                        </div>
                        <input type="text" hidden id="select_documento">
                        <div >
                            {% bootstrap_field form.identificacion layout="horizontal" %}
                        </div>
                        <div >
                            {% bootstrap_field form.foto layout="horizontal" %}
                        </div>
                    </div>
                   <center> {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary"%}</center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/validaciones/validacion-estudiante.js"></script>
    <script>

    $(document).ready(function(){
        $("select").css("pointer-events", "none");
    });
    </script>
{% endblock %}
