{% extends 'base.html' %}
{% load bootstrap3 %}
{% block css %}
<!-- Data Tables -->
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <style>
    body.DTTT_Print {
        background: #fff;

    }
    .DTTT_Print #page-wrapper {
        margin: 0;
        background:#fff;
    }

    button.DTTT_button, div.DTTT_button, a.DTTT_button {
        border: 1px solid #e7eaec;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }
    button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
        border: 1px solid #d2d2d2;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }

    .dataTables_filter label {
        margin-right: 5px;

    }
    </style>

{% endblock %}

{% block miga_pan %}
    <li><a href="/inicio">Inicio</a></li>
    <li><a href="">Estudiantes</a>
    <li class="active">Listar</li>
{% endblock %}

{% block titulo_pagina %}
    Gestionar Estudiante
{% endblock %}

{% block titulo %}
                    <h2>Listar estudiantes</h2>
{% endblock %}

{% block titulo_panel %}
Listar Estudiantes
{% endblock %}

{% block contenido_panel %}

    <table class="table table-striped table-bordered table-hover dataTables-estudiantes" >
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Identificación</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for estudiante in  lista  %}
            <tr class="gradeX">
                <td>{{ estudiante.nombre }} {{ estudiante.apellidos }}</td>
                <td>{{ estudiante.tipo_documento }}: {{ estudiante.identificacion }}
                </td>
                {% if estudiante.estado == 0 %}
                    <td><span class="label label-danger">{{ estudiante.get_estado_display }}</span></td>
                {% else %}
                    <td><span class="label label-primary">{{ estudiante.get_estado_display }}</span></td>
                {% endif %}

                <td>
                    <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">Acción <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'estudiante_editar' estudiante.id %}">Editar</a></li>
                            <li><a data-toggle="modal" data-target="#modal-estado{{ estudiante.id }}" href="" class="font-bold">Cambiar estado</a></li>

                            <li class="divider"></li>
                        {% endif %}
                        <li><a data-toggle="modal" data-target="#myModal-{{ estudiante.id }}" href="#">Vista Previa</a></li>
                    </ul>
                    </div>
                </td>
            </tr>
            <!-- Modal -->

            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal-estado{{ estudiante.id }}">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>¿Está seguro que desea cambiar de estado a este estudiante?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                            <a href="{% url 'estudiante_estado' estudiante.id %}" type="button" class="btn btn-primary" id="estado-estudiante" >Si</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal-{{ estudiante.id }}" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Vista Previa</h4>
                        </div>
                        <div class="modal-body">


                            <img src="{{ MEDIA_URL }}{{ estudiante.foto }}" class="img-responsive" width="200" height="200">

                            <p><b>Nombre:</b> {{ estudiante.nombre }} {{ estudiante.apellidos }}</p>
                            <p><b>Identificación:</b> {{ estudiante.identificacion }}</p>
                            <p><b>Fecha de nacimiento:</b> {{ estudiante.fecha_nacimiento }}</p>




                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}


        </tbody>

    </table>
{% endblock %}
{% block js %}
    <!-- Data Tables -->
    <script src="{{ STATIC_URL }}js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.tableTools.min.js"></script>



    <script>
        $(document).ready(function() {
           $('.dataTables-estudiantes').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        });
    </script>
{% endblock %}