{% extends 'base.html' %}
{% load bootstrap3 %}

{% block titulo_pagina %}
    Profesores
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Profesores</a>
    <li class="active">Listar</li>
{% endblock %}

{% block css %}

    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <style>
        body.DTTT_Print {
            background: #fff;

        }
        .DTTT_Print #page-wrapper {
            margin: 0;
            background:#fff;
        }
        button.DTTT_button, div.DTTT_button, a.DTTT_button {
            border: 1px solid #e7eaec;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }
        button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
            border: 1px solid #d2d2d2;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }
        .dataTables_filter label {
            margin-right: 5px;

        }
    </style>

{% endblock %}

{% block titulo %}
    <h2>Listado de profesores</h2>
{% endblock %}

{% block titulo_panel %}Listar Profesores{% endblock %}

{% block contenido_panel %}

    <table class="table table-striped table-bordered table-hover dataTables-profesores" >
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Identificación</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>

        {% for profesor in profesores %}

                <tr class="gradeX">
                    <td>{{ profesor.first_name }} {{ profesor.last_name }}</td>
                    <td>{{ profesor.numero_documento }}</td>

                    {% if profesor.is_active %}
                        <td><span class="label label-primary">Activo</span></td>
                    {% else %}

                        <td><span class="label label-danger">Inactivo</span></td>
                    {% endif %}

                    <td>
                        <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Acción <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'modificar_profesor' profesor.id %}">Editar</a></li>
                                <li><a data-target="#modal_eliminar_{{profesor.id}}" data-toggle="modal">Cambiar estado</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            <li><a data-target="#modal_consultar_{{profesor.id}}" data-toggle="modal">Vista Previa</a></li>
                        </ul>
                        </div>
                    </td>
                </tr>

                <!-- Modales -->
                <div id="modal_eliminar_{{profesor.id}}" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirmación</h4>
                            </div>
                            <div class="modal-body">
                                <p>Está seguro que desea cambiar el estado de este registro?</p>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary" href="{% url 'eliminar_profesor' profesor.id %}">Si</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="modal_consultar_{{profesor.id}}" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Profesor</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{ MEDIA_URL }}{{ profesor.foto }}" width="120" height="120"><br>
                                <b>Nombre: </b>{{profesor.first_name}} {{ profesor.last_name }}<br>
                                <b>Tipo documento:</b> {{profesor.tipo_documento}}<br>
                                <b>Numero de documento:</b> {{profesor.numero_documento}}<br>
                                <b>Fecha de nacimiento:</b> {{profesor.fecha_nacimiento}}<br>
                                <b>correo electronico:</b> {{profesor.email}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}


{% block js %}
    <!-- Data Tables -->
    <script src="{{ STATIC_URL }}js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.tableTools.min.js"></script>

    <script>
        $(document).ready(function() {
           $('.dataTables-profesores').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        });

    </script>

{% endblock %}






