{% extends 'base.html' %}
{% load bootstrap3 %}

{% block titulo_pagina %}
    Login
{%  endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Login</li>
{% endblock %}

{% block titulo %}
    <h2>Inicio de Sesión</h2>
{% endblock %}

{% block contenido %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                    <h5>Inicio de sesión</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">

                <form id="formulario" action=" {% url 'login' %}" method="POST" class="form-horizontal">
                    {% csrf_token %}
                    <div>
                        {% bootstrap_form form layout="horizontal" %}
                    </div>
                    <center>{% bootstrap_button "Iniciar sesión" button_type="submit" button_class="btn-primary"%}</center>
                </form>
            </div>

        </div>
    </div>
{% endblock %}