{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Profesores</a>
    {% if edicion %}
        <li class="active">Modificar</li>
    {% else %}
        <li class="active">Registrar</li>
    {% endif %}

{% endblock %}


{% block titulo-pagina %}
    {% if edicion %}
        Modificar Profesor
    {% else %}
        Registrar Profesor
    {% endif %}
{% endblock %}

{% block titulo %}
    {% if edicion %}
        <h2>Modificar Profesor</h2>
    {% else %}
        <h2>Registrar Profesor</h2>
    {% endif %}

{% endblock %}


{% block contenido %}

    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                {% if edicion %}
                    <h5>Modificar Profesor</h5>
                {% else %}
                    <h5>Registrar Profesor</h5>
                {% endif %}
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <form id="profesor-form" action="" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div>
                        {% bootstrap_form form layout="horizontal" %}
                    </div>

                    {% if edicion %}
                        <center>{% bootstrap_button "Guardar Cambios" button_type="submit" button_class="btn-primary"%}</center>
                    {% else %}
                        <center>{% bootstrap_button "Registrar" button_type="submit" button_class="btn-primary"%}</center>
                    {% endif %}

                </form>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/validaciones/profesores-validaciones.js"></script>

    {% if edicion %}
        <script>
            $(document).ready(function(){
                $("select").css("pointer-events", "none");
            });
        </script>
    {% endif %}

{% endblock %}

{% block css %}

{% endblock %}