<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo_pagina %} {% endblock %}</title>
    <script src="{{ STATIC_URL }}js/jquery-2.1.1.js"></script>

    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/animate.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/estilos-personalizados.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/toastr/toastr.css" rel="stylesheet">

    {{ form.media }}

    {% block css %}

    {% endblock %}

</head>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                {% if user.is_authenticated %}
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user.get_full_name | capfirst}}</strong>
                                 </span> <span class="text-muted text-xs block">Profesor <b class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                {% endif %}
                <li {% if "/inicio/" in request.path %}
                        class="active"
                    {% endif %}>
                    <a href="{% url 'inicio' %}"><i class="fa fa-bookmark"></i> <span class="nav-label">Inicio</span></a>
                </li>
                <li {% if "/profesores/" in request.path %} class="active" {% endif %}>
                    <a href="#"><i class="fa fa-male"></i> <span class="nav-label">Gestionar Profesores</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li {% if "/profesores/registrar" in request.path %} class="active" {% endif %} ><a href="{% url 'registrar_profesor' %}">Registrar Profesor</a>
                        <li {% if "/profesores/listar" in request.path %} class="active" {% endif %}><a href="{% url 'listar_profesores' %}">Listar Profesores</a>
                    </ul>
                </li>
                <li {% if "/estudiantes/" in request.path %} class="active" {% endif %}>
                    <a href="#"><i class="fa fa-child"></i> <span class="nav-label">Gestionar Estudiantes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% if user.is_authenticated %}
                            <li {% if "/estudiantes/crear" in request.path %} class="active" {% endif %}><a href="{% url 'estudiante_crear' %}">Registrar Estudiante</a></li>
                        {% endif %}
                        <li {% if "/estudiantes/listar" in request.path %} class="active" {% endif %}><a href="{% url 'estudiantes_listar' %}">Listar Estudiantes</a></li>
                    </ul>
                </li>
                <li {% if "/calificaciones/" in request.path %} class="active" {% endif %}>
                    <a href="#"><i class="fa fa-folder-open"></i> <span class="nav-label">Calificaciones de Estudiantes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% if user.is_authenticated %}
                            <li{% if "/calificaciones/registrar" in request.path %} class="active" {% endif %}>
                                <a href="{% url 'calificacion_crear' %}">Registrar Calificacion</a></li>
                        {% endif %}
                        <li {% if "/calificaciones/listar" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'calificaciones_listar' %}">Listar Calificaciones</a></li>
                    </ul>
                </li>
                <li {% if "/reportes/" in request.path %}
                class="active"
                {% endif %}>
                    <a href="#"><i class="fa fa-area-chart"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li{% if "/reportes/nota" in request.path %}
                        class="active"
                        {% endif %}><a href="{% url 'reporte_nota' %}">Reporte de notas</a></li>
                                <li {% if "/reportes/barras" in request.path %}
                        class="active"
                        {% endif %}><a href="{% url 'grafica_barras' %}">Estudiantes aprobados</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <!-- <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="#">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div> -->

                <ul class="nav navbar-nav navbar-left hidden-xs">
                    <ol class="breadcrumb pull-right" style="margin: 20px 0 0 45px">
                    {% block miga_pan %}

                    {% endblock %}
                    </ol>
                </ul>

                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}">
                                <i class="fa fa-sign-in"></i> Login
                            </a>
                        {% endif %}
                    </li>
                </ul>

            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    {% block titulo %}
                    <h2>Basic Form</h2>
                    {% endblock %}
                </div>
                <div class="col-lg-2">

                </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">

            {% block contenido %}

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{% block titulo_panel %}{% endblock %}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            {% block contenido_panel %}
                            {% endblock %}

                        </div>
                    </div>
                </div>

            {% endblock %}

        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="{{ STATIC_URL }}js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="{{ STATIC_URL }}js/inspinia.js"></script>
<script src="{{ STATIC_URL }}js/plugins/pace/pace.min.js"></script>
<script>
    var base = "{{ STATIC_URL }}";
</script>
<script src="{{ STATIC_URL }}js/plugins/toastr/toastr.js"></script>
<script>
    {% for msg in messages %}
        $(document).ready(function(){
                setTimeout(function() {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true,
                    "showEasing": "swing"
                }
                toastr["{{ msg.tags }}"]("{{msg}}")
            },500);
        });
    {% endfor %}
</script>


<script src="{{ STATIC_URL }}js/plugins/toastr/toastr.js"></script>
<script>
    {% for msg in messages %}
        $(document).ready(function(){
                setTimeout(function() {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true,
                    "showEasing": "swing"
                }
                toastr["{{ msg.tags }}"]("{{msg}}")
            },500);
        });
    {% endfor %}
</script>

{% block js %}
{% endblock %}

</body>

</html>
