{% extends 'base.html' %}

{% block miga_pan %}
    <li class="active">Inicio</li>
{% endblock %}

{% block titulo_pagina %}
    Inicio
{% endblock %}

{% block titulo %}
    <h2>Página Principal</h2>
{% endblock %}

{% block contenido %}
    <div class="row">

        <div class="col-lg-2">
            <div class="widget blue-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-user fa-5x"></i>
                    <h1 class="m-xs">{{ profesores }}</h1>
                    <h3 class="font-bold no-margins">
                        Profesores
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="widget lazur-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-user fa-5x"></i>
                    <h1 class="m-xs">{{ estudiantes }}</h1>
                    <h3 class="font-bold no-margins">
                        Estudiantes
                    </h3>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
{% endblock %}
