{% extends 'base.html' %}
{% load bootstrap3 %}

{% block css %}
    <link href="{{STATIC_URL}}css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li>Reportes</li>
    <li class="'active'">Gráfica de barras</li>
{% endblock %}

{% block titulo_pagina %}
    Reporte de barras
{% endblock %}

{% block titulo %}
    <h2>Estudiantes aprobados por materia</h2>
{% endblock %}

{% block contenido %}

    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Reporte de calificaciones</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <form id="FormularioReporteBarras" action="" method="POST" class="form-horizontal">
                    {% csrf_token %}
                    {% bootstrap_form formulario %}
                </form>
               <center> <div id="chartdiv" style="width: 640px; height: 350px;"></div> </center>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/amcharts/serial.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/select2.min.js"></script>

    <script type="text/javascript">
        $("select.many").select2({multiple:true});

        var data = {{ aprobados | safe }}

        //Crea grafica de barras
        var chart = new AmCharts.AmSerialChart();
        chart.dataProvider = data;
        chart.categoryField = "materia";

        var graph = new AmCharts.AmGraph();
        graph.valueField = "cantidad";
        graph.type = "column";
        graph.fillColors = "#0eafbd";
        graph.fillAlphas = 0.8;
        graph.lineAlpha = 0.5;
        graph.lineColor = "#69bdc9";

        chart.addGraph(graph);

        var categoryAxis = chart.categoryAxis;
        categoryAxis.autoGridCount  = false;
        categoryAxis.gridCount = data.length;
        categoryAxis.gridPosition = "start";
        //categoryAxis.labelRotation = 45;

        //Animación de la grafica
        chart.startDuration = 1;

        var valueAxis = new AmCharts.ValueAxis();
        //Los valores comienzan desde cero
        valueAxis.minimum = 0;
        chart.addValueAxis(valueAxis);

        //Despliega grafico en el div
        if (chart.dataProvider === undefined || chart.dataProvider.length === 0){
            chart.addLabel('50%', '50%', 'No se han encontrado datos', 'middle', 15, '#69bdc9');
        }else{
            chart.clearLabels();
        }

        chart.write('chartdiv');

        $('#id_anio').on('change', actualizarReporte);

        function actualizarReporte(){
            var anios = $(this).val();
            $.ajax(
                {
                    url:"{% url 'actualizar_reporte' %}",
                    type:'get',
                    data: {'anios[]': anios},
                    success: function(data){
                        chart.dataProvider = data.lista;
                        chart.validateData();

                        if (chart.dataProvider === undefined || chart.dataProvider.length === 0){
                            chart.addLabel('50%', '50%', 'No se han encontrado datos', 'middle', 15, '#69bdc9');
                        }else{
                            chart.clearLabels();
                        }
                    }
                }
            );
        }

    </script>

{% endblock %}




