{% extends 'base.html' %}
{% load bootstrap3 %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/amcharts/style.css" type="text/css">
    <link href="{{STATIC_URL}}css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block titulo %}
    <h1>Estudiantes por nota</h1>
{% endblock %}

{% block contenido %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Reporte de calificaciones</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                {% bootstrap_form forms %}
                <div id="chartdiv" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/amcharts/pie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/amcharts/datos_vacios.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/select2.min.js"></script>
<script>
    $("select.many").select2({multiple:true});

    var chart;
    var legend;



    var chartData = {{ lista | safe}};

    AmCharts.ready(function () {
        // PIE CHART
        chart = new AmCharts.AmPieChart(AmCharts.themes.light);
        chart.dataProvider = chartData.lista_estudiantes;
        chart.titleField = "etiqueta";
        chart.valueField = "cantidad";

        // LEGEND
        legend = new AmCharts.AmLegend();
        legend.align = "center";
        legend.markerType = "circle";
        chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
        chart.addLegend(legend);

        // WRITE

        chart.write("chartdiv");
        AmCharts.checkEmptyData(chart);



        $('#id_materia').on('change', function(event){

            var csrf_token = "{{ csrf_token }}";
            var materia = $("#id_materia").val();
            var anios = $("#id_anio").val();

            //console.log(anios);
            var url = "{% url 'reporte_nota' %}";

            $.ajax({
                type:"POST",
                url: url,
                data: {'materias[]': materia,'anios[]':anios, 'csrfmiddlewaretoken': csrf_token},
                dataType: 'json',
                success: function(data) {

                    chart.dataProvider = data.lista_estudiantes;
                    chart.validateData();
                    AmCharts.checkEmptyData(chart);
                }
                });
        });

        $('#id_anio').on('change', function(event){


            var csrf_token = "{{ csrf_token }}";
            var materia = $("#id_materia").val();
            var anios = $("#id_anio").val();

            var url = "{% url 'reporte_nota' %}";

            $.ajax({
                type:"POST",
                url: url,
                data: {'materias[]': materia,'anios[]':anios, 'csrfmiddlewaretoken': csrf_token},
                dataType: 'json',
                success: function(data) {
                    var datos = data.lista_estudiantes;
                    chart.dataProvider = datos;
                    chart.validateData();
                    AmCharts.checkEmptyData(chart);
                }
            });
        });

    });




</script>
{% endblock %}