{% extends 'base.html' %}
{% load bootstrap3 %}
{% block css %}
<!-- Data Tables -->
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

    <style>
    body.DTTT_Print {
        background: #fff;

    }
    .DTTT_Print #page-wrapper {
        margin: 0;
        background:#fff;
    }

    button.DTTT_button, div.DTTT_button, a.DTTT_button {
        border: 1px solid #e7eaec;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }
    button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
        border: 1px solid #d2d2d2;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }

    .dataTables_filter label {
        margin-right: 5px;

    }
    </style>

{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li>Calificaciones</li>
    <li class="active">Listar</li>
{% endblock %}

{% block titulo %}
                    <h2>Consultar calificaciones de estudiantes</h2>
{% endblock %}

{% block titulo_panel %}
Listado de Calificaciones
{% endblock %}

{% block contenido_panel %}

    <table class="table table-striped table-bordered table-hover dataTables-calificaciones" >
        <thead>
            <tr>
                <th>Profesor</th>
                <th>Estudiante</th>
                <th>Materia</th>
                <th>Nota</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for calificacion in  calificaciones  %}
            <tr class="gradeX">
                <td>{{ calificacion.profesor }}</td>
                <td>{{ calificacion.estudiante }}</td>
                <td>{{ calificacion.materia }}</td>
                <td>{{ calificacion.nota }}</td>

                <td>
                    <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">Acción <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'calificacion_editar' calificacion.id %}">Editar</a></li>
                        <li><a data-toggle="modal" data-target="#modal-estado{{ calificacion.id }}" href="" class="font-bold">Eliminar</a></li>

                        <li class="divider"></li>
                        <li><a data-toggle="modal" data-target="#myModal-{{ calificacion.id }}" href="#">Vista Previa</a></li>
                    </ul>
                    </div>
                </td>
            </tr>
            <!-- Modal -->

            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal-estado{{ calificacion.id }}">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>¿Está seguro que desea eliminar esta calificación?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                            <a href="{% url 'calificacion_eliminar' calificacion.id %}" type="button" class="btn btn-primary" id="eliminar" >Si</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal-{{ calificacion.id }}" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Vista Previa</h4>
                        </div>
                        <div class="modal-body">
                                    <p><b>Profesor:</b> {{ calificacion.profesor }} </p>
                                    <p><b>Estudiante:</b> {{ calificacion.estudiante }}</p>
                                    <p><b>Año:</b> {{ calificacion.anio }}</p>
                                    <p><b>Materia:</b> {{ calificacion.materia }}</p>
                                    <p><b>Nota:</b> {{ calificacion.nota }} {% if calificacion.etiqueta == 'D' %}
                                            <span class="label label-danger">{{ calificacion.get_etiqueta_display }}</span>
                                        {% elif calificacion.etiqueta == 'I' %}
                                            <span class="label label-warning">{{ calificacion.get_etiqueta_display }}</span>
                                        {% elif calificacion.etiqueta == 'A' %}
                                            <span class="label label-success">{{ calificacion.get_etiqueta_display }}</span>
                                        {% elif calificacion.etiqueta == 'S' %}
                                            <span class="label label-info">{{ calificacion.get_etiqueta_display }}</span>
                                        {% else %}
                                            <span class="label label-primary">{{ calificacion.get_etiqueta_display }}</span>
                                        {% endif %}</p>
                                    <p><b>Descripcion:</b> {{ calificacion.descripcion }}</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}


        </tbody>

    </table>
{% endblock %}
{% block js %}
    <!-- Data Tables -->
    <script src="{{ STATIC_URL }}js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.tableTools.min.js"></script>

    <script>
        $(document).ready(function() {
           $('.dataTables-calificaciones').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        });
    </script>
{% endblock %}