{% extends 'base.html' %}
{% load bootstrap3 %}

{% block titulo %}
    {% if edicion %}
    <h2>Editar Calificación</h2>
    {% else %}
    <h2>Registrar Calificación</h2>
    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li>Calificaciones</li>
    <li class="active">Registrar</li>
{% endblock %}

{% block contenido %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                {% if edicion %}
                <h5>Editar Calificación</h5>
                {% else %}
                <h5>Registrar Calificación</h5>
                {% endif %}
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <!-- Se añade el multipart para encriptar los archivos -->
                <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data" id="calificacion-form">{% csrf_token %}
                    {% bootstrap_field form.profesor layout='horizontal' %}
                    {% bootstrap_field form.estudiante layout='horizontal' %}

                    {% bootstrap_field form.nota  layout='horizontal' %}
                    <div class="form-group" id="etiqueta">
                        {% bootstrap_label "Deficiente" label_class='label-danger control-label col-md-3'%}
                    </div>



                    {% bootstrap_field form.anio layout='horizontal' %}
                    {% bootstrap_field form.materia layout='horizontal' %}
                    {% bootstrap_field form.descripcion layout='horizontal' %}
                    <center> {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary"%}</center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/validaciones/validacion-calificacion.js"></script>
<script>
$(document).ready(function() {
    $("#id_nota").on('keyup', function () {

        if (isNaN($(this).val())) {
            alert("fallo");
        } else {
            var numero = parseFloat($(this).val())
            if (numero < 2) {
                document.getElementById("etiqueta").innerHTML = "<label class='label-danger control-label col-md-3'>Deficiente</label>";
            } else {
                if (numero < 3) {
                    document.getElementById("etiqueta").innerHTML = "<label class='label-warning control-label col-md-3'>Insuficiente</label>";
                } else {
                    if (numero < 4) {
                        document.getElementById("etiqueta").innerHTML = "<label class='label-success control-label col-md-3'>Aceptable</label>";
                    } else {
                        if (numero < 5) {
                            document.getElementById("etiqueta").innerHTML = "<label class='label-info control-label col-md-3'>Sobresaliente</label>";
                        } else {
                            if (numero == 5) {
                                document.getElementById("etiqueta").innerHTML = "<label class='label-primary control-label col-md-3'>Excelente</label>";
                            }else {
                                document.getElementById("etiqueta").innerHTML = "<label class='label control-label col-md-3'>Fuera de Rango</label>";
                            }
                        }
                    }
                }
            }
        }
    });
    {% if edicion %}
     $("select").css("pointer-events", "none");
    {% endif %}
});
</script>
{% endblock %}